<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Smart Civic </title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>🏙 Smart Civic</h1>
    <p class="subtitle">Civic Complaint Management System</p>
<input type="text"
id="issue"
placeholder="Enter the problem (optional if photo is uploaded)">

<input type="file"
id="photo"
accept="image/*">

<button onclick="submitIssue()">

Submit Problem

</button>

<div id="result"></div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>